<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <p>Hello {{ username }} !!</p>
    </div>
</div>  

<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a href="#/">Logout</a>
    </div>
</div>  


<div class="row voffset3">
    <div class="form-group col-md-2 col-md-offset-2">
        <input class="form-control" type="text" placeholder="Search by Name"
        ng-model="user.name"/>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 voffset4">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="usr in users">
                Name# <strong>{{ usr.username }}</strong><br>email# {{ usr.email }}
            </li>
        </ul>
    </div>
</div>
