<div class="row" align="center">
    <div class="col-md-4 col-md-offset-1 voffset7">
        <img src="tree-library.jpg" />
    </div>

    <div class="col-md-4 col-md-offset-1 voffset6">
        <form name="userForm" align="center" novalidate>
            <fieldset>
                <legend>User Details</legend><br>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="username"
                    ng-model="user.username" ng-focus="showInvalidUser=false;actvRequiredCheck=true" required/>
                    <br><br>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password"
                    ng-model="user.password" ng-focus="showInvalidUser=false;actvRequiredCheck=true" required/>
                    <br><br>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="validateUser()">Login</button>                    
                
            </fieldset>
        </form>
    </div>

    


    <div class="col-md-4 col-md-offset-6" align="center" ng-show="actvRequiredCheck===true">
        <div ng-messages="userForm.$error">
            <div ng-message="required" class="alert alert-warning">Username / Password is empty</div>
        </div>
    </div>
    


    <div class="col-md-4 col-md-offset-6" align="center">
        <div ng-show="showInvalidUser===true" class="alert alert-danger">Invalid Username / Password</div>
    </div>

    <div class="col-md-4 col-md-offset-6" align="center">
        <p>New User? <a href="#/register">Sign Up</a></p>
    </div>

</div>  